@page "/Product/{slug}"
@using MyBlazorLibraries.Product
@using MyBlazorLibraries.Product.Models
@inject IProductService productService

@if(Product != null)
{
    <PageTitle>@Product.Name</PageTitle>
}

<div class="row">
    @if(Product == null)
    {
        <div class="alert alert-warning">
            <h2>محصول مورد نظر پیدا نشد</h2>
        </div>
    }
    else
    {
        <h2>@Product.Name</h2>
        <hr />
        <img src="img/@Product.Image"/>
        <p>قیمت : @Product.Price</p>
    }
</div>

<div class="row">
    <h2>دیگر محصولات ما</h2>
    <hr />
    @foreach(var product in ListProduct)
    {
        <ProductItem Product="product"/>
    }
</div>

@code {
    public ProductModel? Product { get; set; }
    public IList<ProductModel>? ListProduct { get; set; }

    [Parameter]
    public string? slug { get; set; }

    protected override void OnInitialized()
    {
        ListProduct = productService.GetAll();
        if(!string.IsNullOrEmpty(slug))
        {
            Product = productService.GetProductBySlug(slug);
        }
        base.OnInitialized();
       
    }
}
