@using MyBlazorLibraries.Product.Models


<div class="card col-3 m-2" style="width: 18rem;padding:0">
    <img src="/img/@Product.Image" style="width:100%" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            <a href="@Product.FullUrl">
                @Product.Name
            </a>
        </h5>
        <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
        <naa href="#" class="btn btn-primary">نمایش جزئیات</naa>
    </div>
</div>
@code {
    [Parameter]
    public ProductModel? Product { get; set; }
}
