@using MyBlazorLibraries.Product.Models


<div class="card col-3 m-2" style="width: 18rem;padding:0">
    <img src="/img/@Product.Image" style="width:100%" class="card-img-top" alt="...">
    <div class="card-body">
        <h5 class="card-title">
            <a href="@Product.FullUrl">
                @Product.Name
            </a>
        </h5>
        <p class="card-text">قیمت: @Product.Price</p>
        <naa href="#" class="btn btn-primary">نمایش جزئیات</naa>
    </div>
</div>
@code {
    [Parameter]
    public ProductModel? Product { get; set; }
    [Parameter]
    public string Name { get; set; }

    [Parameter,SupplyParameterFromQuery(Name ="سن کاربر مهمان")]
    public string Age { get; set; }

    protected override void OnParametersSet()
    {
        base.OnParametersSet();
    }
}
